.btn-next {
    background:#fa24e1;
    width: 96%;
    border: none;
    color: #fff;
    padding: 15px 0;
    position: absolute;
    bottom:0;
    z-index: 2;
    margin: 0 2%;
}
#map {
    position: absolute;
    left:0;
    right: 0;
    top:0;
    bottom: 0;
    z-index: 1;
}
.mypicture {
    z-index:2;
    position: absolute;
    float:left;
    left:3%;
    top: 2%;
    width:50px;
    border-radius: 100%;
    border: solid 1px #868686;
}
.lyftlogo {
    z-index:2;
    position: absolute;
    width: 50px;
    left:45%;
    top:3%;
}
.mastercard {
    margin-right: 0;
    display: inline;
    width: 55px;
}
.container-table {
    width: 96%;
    position: absolute;
    z-index: 2;
    bottom: 60px;
    background: #F3F3F5;
    margin: 0 2%;
    border-radius: 5%;
    border: solid 1px #aaaaaa;
}
.container-icons {
    width: 96%;
    position: absolute;
    z-index: 2;
    bottom: 270px;
    margin: 0 2%;
}
.glyphicon-arrow-left{
    float: left;
    background: #F3F3F5;
    border: solid 1px #aaaaaa;
    border-radius: 50%;
    padding: 10px;
}
.glyphicon-send {
    float: right;
    background: #F3F3F5;
    border: solid 1px #aaaaaa;
    border-radius: 50%;
    padding: 10px 10px 10px 8px;
}
.inline {
    display: inline;
}
.lyft-car {
    border: solid 1px black;
}
.row, col-xs-6, col-xs-12, col-xs-1, col-xs-11 {
    width: 100%;
    margin: 0;
}
.lyftcar {
    width: 80px;
    float: right;
}
.near {
    padding-left: 0;
}
.first {
    border-bottom: 1px solid #c3c3c3;
    padding: 7px 0;
}
.second {
    border-bottom: 1px solid #c3c3c3;
}
.near h4 {
    margin-bottom: 0px;
}
.second h5 {
    display: inline;
}
.border-right {
    border-right: 1px solid #c3c3c3;
}
.padone {
    padding: 5px 0;
}
.padtwo {
    padding: 15px 0;
}
.third {
    background-color: #fff;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}
.one {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: darkblue;
    border: 1px solid darkblue;
    margin-top: 12px;
    margin-left: 12px;
}
.two {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #fa24e1;
    border: 1px solid #fa24e1;
    margin-left: 12px;
}
.oneparent{
    display: inline-block;
}
.twoparent{
    display: inline-block;
}
.direction ul {
    list-style: none;
    padding:5px 0 0 0;
}
.from {
    border-bottom: 1px solid #c3c3c3;
    display: inline-block;
    width: 90%;
}
.to {
    display: inline-block;
}
small {
    color: #a3a3a3;
}

